body {
    display: flex;
}

.background {
    border: 1px solid black;
    height: 700px;
    width: 20%;
    background: url(background.jpeg);
}

.formContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    height: 700px;
    width: 30%;
}

.intro {
    border: 1px solid green;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.form {
    border: 1px solid green;
    height: 200px;
    width: em;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}